{{ attach_library('unfpa_offices_conferences/conference_speaker_style') }}
<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pad-right-0">
          <div class="page-wrapper">
            <h2>{{ 'Speakers'|t }}</h2>
            <div class="content-wrapper">
              <div class="colm-1">
                {% for item in data %}
                  {% if speaker_summary %}
                    {{ item.speaker_summary }}
                  {% endif %}
                  {{ item.speaker_list }}
                {% endfor %}
                {{ drupal_view('unfpa_offices_conferences', 'speaker_list') }}
              </div>
              <div class="colm-2">
                <div class="share-wrapper">
                  <div class="inr-blk">
                    <div class="btn-share-wrap">
                      <div class="btn-share"><img src="{{ module_path }}/images/icon-share.svg" alt="share"></div>
                      <div class="sharetext">{{ 'Share'|t }}</div>
                    </div>
                    <div class="top-wrapper">
                      <div class="btn-up"><img src="{{ module_path }}/images/icon-btn-arrow-up-white.svg" alt="go top"></div>
                      <div class="toptext">{{ 'Go to top'|t }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
