{#
/**
* @file
* Default theme implementation for main view template.
*
* Available variables:
* - attributes: Remaining HTML attributes for the element.
* - css_name: A CSS-safe version of the view name.
* - css_class: The user-specified classes names, if any.
* - header: The optional header.
* - footer: The optional footer.
* - rows: The results of the view query, if any.
* - empty: The content to display if there are no rows.
* - pager: The optional pager next/prev links to display.
* - exposed: Exposed widget form/info to display.
* - feed_icons: Optional feed icons to display.
* - more: An optional link to the next page of results.
* - title: Title of the view, only used when displaying in the admin preview.
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the view title.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the view title.
* - attachment_before: An optional attachment view to be displayed before the
*   view content.
* - attachment_after: An optional attachment view to be displayed after the
*   view content.
* - dom_id: Unique id for every view being printed to give unique class for
*   JavaScript.
*
* @see template_preprocess_views_view()
*
* @ingroup themeable
*/
#}
{{ attach_library('unfpa_offices_conferences/unfpa_offices_conference_style') }}
<div class="{{ classes }}">
	{{ title_prefix }}
	{% if title %}
		{{ title }}
	{% endif %}
	{{ title_suffix }}
	{% if header %}
		<div class="view-header">
			{{ header }}
		</div>
	{% endif %}
	{% if exposed %}
		<div class="view-filters">
			{{ exposed }}
		</div>
	{% endif %}
	{% if attachment_before %}
		<div class="attachment attachment-before">
			{{ attachment_before }}
		</div>
	{% endif %}
	{% if rows %}
		<div class="view-content">
			<div class="ct-card-group colm-3">
				{% for key, row in rows[0]['#rows'] %}
				{% set node_url = path('entity.node.canonical', {'node': row['#row']._entity.id}) %}
				 {% set type = row['#row']._entity.type.entity.label %}
				 {% set node_title = row['#row']._entity.title.entity.label %}
				 {% set link_text = "Read More"|t %}
					{% if row['#row']._entity.type_1 %}
						{% set content_image = '/images/mixed_library/img-placeholder.gif' %}
					{% else %}
						{% set content_image = file_url(row['#row']._entity.field_hp_desktop_image.entity.uri.value) %}
					{% endif %}
					{% if row['#row']._entity.type_1 == ct_video %}
						<a href="{{ node_url }}">
							{{ row['#row']._entity.field_video.value }}
						</a>
					{% else %}
						<a href="{{ node_url }}">
							<img src="{{ content_image }}" role="presentation" alt="" data-uw-rm-ima="un">
						</a>
					{% endif %}
					{% if row.type_1 == ct_video %}
						{% set media_class = "ct-card_video" %}
					{% else %}
						{% set media_class = "ct-card_image" %}
					{% endif %}
					<div class="ct-card">
						<div class="{{ media_class }}">
							<a href="{{ media }}">
								<img src="{{ content_image }}" role="presentation" alt="" data-uw-rm-ima="un">
							</a>
						</div>
						<div class="ct-card__details">
							<div class="ct-card__details--body">
								<p class="content-type">{{ type }}</p>
								<h3 class="card-title">
									<a href="{{ node_url }}">{{ node_title }}</a>
								</h3>
								<a href="{{ node_url }}">{{ link_text }}<i class="secondary-arrow"></i></a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% elseif empty %}
		<div class="view-empty">
			{{ empty }}
		</div>
	{% endif %}
	{% if pager %}
		{{ pager }}
	{% endif %}
	{{ attachment_after }}
	{{ more }}
	{% if footer %}
		<footer>
			{{ footer }}
		</footer>
	{% endif %}
	{{ feed_icons }}
</div>
