<form action="/action_page.php">
        {{ element.elements.username }}
        {{ element.elements.password }}
        {{ element.elements.gender }}
        {{ element.elements.select_your_subject }}
        {{ element.elements.class }}
        {{ element.elements.email_id }}
        {{ element.elements.mobile_no_ }}
        {{ element.elements.address }}
      </form>